# terraform stuff
.terraform
.terraform.lock.hcl

# python stuff
__pycache__

# deployment artifact
function.zip

# deployment code and packages
dist/*

# for PoC purposes (should either be commited or a remote state should be used)
terraform.tfstate*
